/* 카테고리별 추천 광고상품 */
main {
    width: 1022px;
    margin: 0 auto;
}

h1{
    margin: 100px 0 48px;

}

.category-big-title {
    margin-bottom: 24px;
}

.category-big-title p{
    font-weight: 500;
}

.category-big-title h2 > span {
    color: var(--color-blue-600);
}

article {
    display: flex;
    border-top: 1.2px solid var(--color-brown-300);
    border-bottom: 1.2px solid var(--color-brown-300);
    height: 634px;
}

article:nth-of-type(2){
    border-top: 1.2px solid var(--color-green-700);
    border-bottom: 1.2px solid var(--color-green-700);
}

.category-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 48px 33px 28px 24px;
    flex-basis: 174px;
}

.category-title h3 {
    font-weight: 400;
    font-size: 2.4rem;
}

.household-supplies {
    color: var(--color-brown-300);
}

.kitchen-supplies {
    color: var(--color-green-700);
}


.category-title p {
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--color-gray-700);
    margin-top: 9px;
}

.category-title p::after {
    margin-left: 5px;
    content: url(../../assets/icon/angle-right-default.svg);
}

.category-keywords h4 {
    font-size: 1.8rem;
    margin-bottom: 8px;
    font-weight: 500;
}

.category-keywords a{
    display: inline-block;
    border: 1px solid var(--color-gray-400);
    padding: 6px 10px;
    margin-top: 12px;
    font-size: 1.2rem;
    color: var(--color-brown-300);
}

.kitchen .category-keywords a{
    color: var(--color-green-700);
}

.carousel {
    width: 320px;
    position: relative;
}

.carousel-product-info{
    position: absolute;
    width: 260px;
    height: 90px;
    background-color: var(--color-brown-300);
    bottom: 60px;
    left: 30px;
    color: var(--color-white);
    text-align: center;
    font-size: 1.8rem;
}

.kitchen .carousel-product-info {
    background-color: var(--color-green-700);
}

.carousel-product-info p:first-child {
    font-weight: bold;
    margin: 20px 0px 8px;
}

.carousel-product-info p:last-child {
    font-size: 1.4rem;
}

.carousel-indicator {
    position: absolute;
    bottom: 24px;
    left: 144px;
    display: flex;
    width: 32px;
    justify-content: space-between;
}

.carousel-dot {
    background-color: var(--color-gray-600);
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.carousel-indicator div:first-child {
    background-color: var(--color-gray-700);
}


.category-items-box {
    display: flex;
    width: 526px;
    flex-direction: column;
    align-items: top;
}

.category-items {
    display: flex;
    flex-basis: 526px;
    height: 300px;
}

.category-item {
   flex: 0 0 160px;
    height: 300px;
    margin-left: 16px;
}

.category-item-img {
    margin-top: 9px;
}

.category-item-info{
    padding: 12px 4px 0 4px;
    font-size: 1.4rem;
}

.cetegory-item-title {
    line-height: normal;
    margin-bottom: 12px;
}

.category-item-price > span {
    font-family: var(--font-family-num);
    font-size: 1.8rem;
    font-weight: 700;
}
.category-item-discount {
    color: var(--color-red-500);
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.line {
    display: flex;
    align-items: center;
}

.line::before{
    content:"";
    flex-grow: 1;
    background-color: var(--color-gray-600);
    height: 1px;
}

article:last-child{
    margin-top: 24px;
}