// color
$black : #3B3B3C;
$white : #FFFFFF;
$light-gray : #F2F4F6;
$gray: #95989a;
$red : #C34834;
$green : #5CD17B;

// font
$font-default: -apple-system, BlinkMacSystemFont, helvetica, Apple SD Gothic Neo, sans-serif;

//custom
:root {
    --calendar-width: 360px;
}
